<% layout('/layout/boilerplate.ejs') %>

<div class="container-fluid mt-5">
    <div class="row bg-light rounded">
        <div class="col p-4">
            <% if (items.length !==0) { %>
                <% let counter = 1; %> 
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Item</th>
                            <th>Sub-Category</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th><span class="ms-2">Edit</span></th>
                            <th><span class="ms-4">Delete</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let item of items) { %>
                            <tr>
                                <td><%= counter %></td>
                                <td><%= item.item %></td>
                                <td><%= item['sub-category']['sub-category'] %></td>
                                <td><%= item.category.category %></td>
                                <td><%= item.price %></td>
                                <td>
                                    <form action="/item/<%=item._id%>" class="ms-auto">
                                        <button class="btn btn-info">Edit</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/item/<%=item._id%>?_method=DELETE" method="POST" class="ms-3">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                                <% counter++ %> 
                        <% } %>
                    </tbody>
                    </table>
            <% } else { %>
                <h3>There are no items available!.</h3>
            <% } %>
        </div>
    </div>
</div>

<!-- <%// if (items.length !== 0) { %>
    <div class="bg-light p-4 rounded">
        <ol class="list-group list-group-numbered">
            <% //for(let item of items) { %> 
                <li class="list-group-item d-flex">
                    <%=// item.item %>
                    <form action="/item/<%=//item._id%>" class="ms-auto">
                        <button class="btn btn-info">Edit</button>
                    </form>
                    <form action="/item/<%=//item._id%>?_method=DELETE" method="POST" class="ms-3">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </li>
            <%// } %>     
        </ol>
    </div>
<% //} else { %>
    <div class="bg-light p-4 rounded">
        <h3>There are no items available!.</h3>
    </div>
<%// } %>      -->